.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(0, 64, 80);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: white;
}

.loginHeading, .signupHeading {
  color: white;
}

.footer {
  background-color:rgb(0, 64, 80);
  color: white;
  padding: 1%;
  text-align: center;
  position: absolute;
  bottom: 0%;
  width: 100%;
  /* padding-right: 100%; */
}

.navbar {
  background-color: rgb(0, 64, 80);
  color: white;
  border-bottom-color: rgb(0, 64, 80);
  border-bottom-width: 10px;
  align-items: center;
  text-align: left;
  box-sizing: border-box;

}

.navbar-logo {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  line-height: inherit;
  white-space: nowrap;
  box-sizing: border-box;
}

.loginDiv, .signupDiv {
  position: absolute;
  top: 40%;
  left:40%;
  margin-top: -50px;
  margin-left: -50px;
  width: 400px;
  height: fit-content;
  text-align: center;
    padding-right: 10px;
    padding-bottom: 20px;
    background-color: rgb(20,30,40);
	border: 1px solid black;
    border-radius: 10px;
    line-height: 10px;
}
.loginInput, .signupInput{
margin: 2%;
width: 80%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
